h1 {
    color: rebeccapurple;
}

.form {
    display: flex;
    gap: 1rem;
}

.flex {
    display: flex;
    gap: 1rem;
}

.profile-image {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    object-fit: cover;
    /* background-color: blueviolet; */
}